/* Top css */
html {
	background:url(../images/diamond-upholstery.png) #d4cece;
}

body {
	font-family: 'Abel', sans-serif;
}

.container {
	background: white;
	box-shadow: 0 0 1px 1px black;
	-webkit-box-shadow: 0 0 1px 1px black;
	-moz-box-shadow: 0 0 1px 1px black;
	max-width: 1400px;
}

a {
	text-decoration: none;
	color: #00A0D2;
}

a:hover {
	text-decoration: underline;
}

#title {
	text-align: center;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 4.2em;
	color: #5c87ff;
}

#main-title a:hover {
	text-decoration: none;
}

#primary-contact {
	float: right;
	padding-top: 0;
}

@media (min-width: 550px) {
	#primary-contact {
		padding-top: 40px;
	}
}

.top-sec {
	display: inline-block;
	margin-right: 5px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Nav section */

#nav {
	margin-top: 5px;
	font-size: 1.4em;
	background: #5c87ff;
}

#nav a {
	color: #FFF;
}

#nav a:active {
	background: white;
}

#nav a:hover {
	color: #5c87ff;
}

.nav-sec {
	text-align: center;
	width: 50%;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #5c87ff;
}

.nav-sec:hover {
	border-bottom: 2px solid #5c87ff;
}

@media (min-width: 550px) {
	.nav-sec {
		width: 100%;
		border-left: 0;
		border-right: 0;
	}
}

.nav-sec:hover {
	background: white;
}

/* Main area */
#main-area {
	margin-top: 10px;
	padding: 10px 20px;
}

#main-area p::first-letter {
	font-size: 140%;
}

.main-text {
	font-size: 1.3em;
}

.main-text p::first-letter {
	font-size: 140%;
}

.about-img {
	max-height: 100%;
	padding: 10px;
	background: #c3dcfe;
}

.center-text {
	max-width: 900px;
	margin: 2.5rem auto;
	text-align: center;
}

.center-img {
	width: ;
	margin: 0 auto;
}

@media (min-width: 550px) {
	.center-img {
		width: 50%;
	}
}

.nice-text {
	background: #c3dcfe;
	padding: 10px;
}

/* Footer */

#footer {
	margin-top: 10px;
	padding: 15px;
	font-size: 1.1em;
}