/* Top css */
html {
	background:url(../images/concrete-wall.png) #d9e9ff;
}

body {
	font-family: 'Abel', sans-serif;
}

.container {
	background: white;
	box-shadow: 0 0 1px 1px black;
	-webkit-box-shadow: 0 0 1px 1px black;
	-moz-box-shadow: 0 0 1px 1px black;
	max-width: 1400px;
}

a {
	text-decoration: none;
	color: #00A0D2;
}

a:hover {
	text-decoration: underline;
}

#title {
	text-align: center;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 4.2em;
}

#main-title a:hover {
	text-decoration: none;
}

#primary-contact {
	float: right;
	padding-top: 0;
}

@media (min-width: 550px) {
	#primary-contact {
		padding-top: 40px;
	}
}

.top-sec {
	display: inline-block;
	margin-right: 5px;
}

/* Nav section */

#nav {
	margin-top: 5px;
	font-size: 1.4em;
	background: linear-gradient(white, #c3dcfe);
	background: -o-linear-gradient (white, #c3dcfe);
	background: -moz-linear-gradient (white, #c3dcfe);
	background: -webkit-linear-gradient (white, #c3dcfe);
}

.nav-sec {
	text-align: center;
	border-left: 0;
	border-right: 0;
	padding: 10px;
	border-radius: 25%;
}

@media (min-width: 550px) {
	.nav-sec {
		border-left: 0;
		border-right: 0;
	}
}

/* Main area */
#main-area {
	margin-top: 10px;
	padding: 10px 20px;
}

#main-area p::first-letter {
	font-size: 140%;
}

.main-text {
	font-size: 1.3em;
}

.main-text p::first-letter {
	font-size: 140%;
}

.about-img {
	max-height: 100%;
	padding: 10px;
	background: #c3dcfe;
}

.center-text {
	max-width: 900px;
	margin: 2.5rem auto;
	text-align: center;
}

.center-img {
	width: ;
	margin: 0 auto;
}

@media (min-width: 550px) {
	.center-img {
		width: 50%;
	}
}

.nice-text {
	background: #c3dcfe;
	padding: 10px;
}

.review-sec {
	border: 5px solid #c3dcfe;
	border-radius: 10%;
	padding: 5px;
}

/* Footer */

#footer {
	margin-top: 10px;
	padding: 15px;
	font-size: 1.1em;
}

#foot-title {
	text-align: center;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	color: #5c87ff;
}

#foot-title a:hover {
	text-decoration: none;
}

#footer div {
	margin: 10px auto;
}

.foot-list-title {
	display: block;
	text-align: center;
}

.foot-list {
	width: 50%;
	display: inline-block;
}