/* Top css */
html {
	background: rgb(173, 224, 249);
}

body {
	font-family: 'Open Sans', sans-serif;
	color: rgb(21, 184, 228);
}

.container {
	background: white;
	box-shadow: 0 0 4px 1px black;
	-webkit-box-shadow: 0 0 4px 1px black;
	-moz-box-shadow: 0 0 4px 1px black;
	max-width: 1400px;
}

a {
	text-decoration: none;
	color: rgb(21, 184, 228);
}

a:hover {
	text-decoration: underline;
}

#title {
	text-align: center;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 4.2em;
}

#main-title a:hover {
	text-decoration: none;
}

#primary-contact {
	float: right;
	padding-top: 0;
	margin-top: 5px;
}

@media (min-width: 550px) {
	#primary-contact {
		padding-top: 40px;
		min-width: 318px;
	}
}

.top-sec {
	display: inline-block;
	margin-right: 5px;
}

/* Nav section */

#nav {
	margin-top: 5px;
	background: linear-gradient(white 1%, rgb(173, 224, 249));
}

.nav-text {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	border: 2px solid rgb(21, 184, 228);
	border-radius: 5px;
	background: white;
}

.nav-text:hover {
	font-weight: bolder;
	background: rgb(209, 240, 255);
}

.nav-text:active {
	background: white;
}

#nav a:hover {
	text-decoration: none;
}

/* Main area */
#main-area {
	margin-top: 10px;
	padding: 10px 20px;
}

#main-area p::first-letter {
	font-size: 140%;
}

.main-text {
	font-size: 1.3em;
	color: black;
}

.main-text p::first-letter {
	font-size: 140%;
}

.about-img {
	max-height: 100%;
	padding: 10px;
	background: rgb(173, 224, 249);
}

.center-text {
	max-width: 900px;
	margin: 2.5rem auto;
	text-align: center;
}

.center-img {
	width: ;
	margin: 0 auto;
}

@media (min-width: 550px) {
	.center-img {
		width: 50%;
	}
}

.nice-text {
	background: #c3dcfe;
	padding: 10px;
}

.review-sec {
	border: 5px solid rgb(173, 224, 249);
	border-radius: 5%;
	padding: 5px;
}

/* Footer */

#footer {
	margin-top: 10px;
	padding: 15px;
	font-size: 1.1em;
}

#foot-title {
	text-align: center;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	color: #5c87ff;
}

#foot-title a:hover {
	text-decoration: none;
}

#footer div {
	margin: 10px auto;
}

#footer li {
	overflow: hidden;
	text-overflow: ellipsis;
}

.foot-list-title {
	display: block;
	text-align: center;
	font-size: 1.3em;
}

.foot-list {
	display: inline-block;
}

.foot-text {
	padding: 10px;
}